// Enable css grid
$enable-cssgrid:              true;

// Disable smooth scroll on HTML
$enable-smooth-scroll:        false;

// Body
$font-family-base:            'Elza', sans-serif;
$paragraph-margin-bottom:     2rem;

$lead-font-size:              $font-size-base * 1.42;
$lead-font-weight:            400 ;

// Headings
$headings-font-family:        'Elza', sans-serif;
$headings-margin-bottom:      20px;
$headings-font-weight:        $font-weight-normal;
$headings-line-height:        1.06;


//$display-font-family: $headings-font-family;
$display-font-weight: 400;
$display-line-height: 1.1;

// Forms
$input-bg: transparent;
$input-focus-bg: transparent;
$input-color: #fff;
$input-focus-color: #fff;
$input-border-radius: 0;
$input-font-size: 18px;

$input-border-width: 1px;
$input-border-color: var(--bs-green);
$input-focus-border-color: #fff;
$form-floating-padding-x: 0;
$form-floating-label-transform:   scale(1) translateY(-1.3rem) translateX(-2px);
$form-floating-input-padding-t:   2.2rem;
$form-floating-height:            add(5rem, $input-height-border);

$input-transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-color .15s ease-in-out;
$form-floating-transition: opacity .4s,transform .4s, font-size 0.4s, color 0.4s


