
// article h2 {
//     margin-top: 60px;
//     @include font-size($h4-font-size);
// }

// article h3 {
//     margin-top: 40px;
//     @include font-size($h5-font-size);
// }

// article h4, article h5, article h6 {
//     margin-top: 40px;
//     @include font-size($h6-font-size);
// }

article img {
    max-width: 100%;
    height: auto !important;
}


article ul, article ol{
    padding-left: 20px;
    margin-bottom: 30px;
    margin: 40px auto;
}
article ul li, article ol li {
    margin-bottom: 10px;
}




article a {
    display: inline;
    color: currentColor;
    text-decoration: none;
    background-image: linear-gradient(90deg, currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 1px;
    transition: background-size 500ms ease-in-out;
}
article a:hover {
    background-size: 0% 1px;
    color: inherit;
}

article .wp-video{
    width: 100%!important;
    margin: 50px auto;
}
article video{
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
}

$blockquote-size:                $font-size-base * 3.125 !default;
article blockquote {
    @include font-size($blockquote-size);
}
// article blockquote:before {
//     content: '';
//     display: block;
//     text-align: center;
//     margin:0 auto 20px auto;
//     width: 90px;
//     height: 90px;
//     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M36.8828 44.986C38.2598 44.986 39.3438 45.3961 40.1348 46.2164C40.9551 47.0074 41.3652 48.0914 41.3652 49.4684C41.3652 50.8453 40.9551 51.944 40.1348 52.7643C39.3438 53.5846 38.2598 53.9948 36.8828 53.9948C35.5059 53.9948 34.4072 53.5846 33.5869 52.7643C32.7959 51.944 32.4004 50.8453 32.4004 49.4684C32.4004 47.359 32.7666 45.4987 33.499 43.8873C34.2607 42.276 35.0957 40.9576 36.0039 39.9323C37.0879 38.7311 38.2891 37.7203 39.6074 36.9L40.4863 38.2184C39.9004 38.8043 39.3584 39.4342 38.8604 40.108C38.4502 40.694 38.04 41.3971 37.6299 42.2174C37.249 43.0377 37 43.9606 36.8828 44.986Z' fill='black'/%3E %3Cpath d='M53.5117 44.986C54.8887 44.986 55.9727 45.3961 56.7637 46.2164C57.584 47.0074 57.9941 48.0914 57.9941 49.4684C57.9941 50.8453 57.584 51.944 56.7637 52.7643C55.9727 53.5846 54.8887 53.9948 53.5117 53.9948C52.1348 53.9948 51.0361 53.5846 50.2158 52.7643C49.4248 51.944 49.0293 50.8453 49.0293 49.4684C49.0293 47.359 49.3955 45.4987 50.1279 43.8873C50.8896 42.276 51.7246 40.9576 52.6328 39.9323C53.7168 38.7311 54.918 37.7203 56.2363 36.9L57.1152 38.2184C56.5293 38.8043 55.9873 39.4342 55.4893 40.108C55.0791 40.694 54.6689 41.3971 54.2588 42.2174C53.8779 43.0377 53.6289 43.9606 53.5117 44.986Z' fill='black'/%3E %3Ccircle cx='45' cy='45' r='44.325' stroke='%239B4CFF' stroke-width='1.35'/%3E %3C/svg%3E ");
// }