:root{
    --padding-container: 20px;
    --padding-section: 50px;
}

@include media-breakpoint-up(sm) {
    :root{
        --padding-container: calc(4vw);
        --padding-section: calc(6vw);
    }
}

@include media-breakpoint-up(lg) {
    :root{
        --padding-container: calc(4vw);
        --padding-section: calc(7.29vw);
    }
}


@include media-breakpoint-up(xxl) {
    :root{
        --padding-container: calc(7.29vw);
        --padding-section: calc(6vw);
    }
}

.container {padding-left: var(--padding-container);padding-right: var(--padding-container);}
section, .section {padding-top: var(--padding-section);padding-bottom: var(--padding-section);}
.section-half {padding-top: calc(var(--padding-section) * 0.5);padding-bottom: calc(var(--padding-section) * 0.5);}

/* Breakouts */
.breakout {
    margin-left: calc(var(--padding-container) * -1);
    margin-right: calc(var(--padding-container) * -1); 
    width: calc(100% + var(--padding-container)*2)
}

.breakout-start {
    margin-left: calc(var(--padding-container) * -1);
    width: calc(100% + var(--padding-container))
}

.breakout-end {
    margin-right: calc(var(--padding-container) * -1); 
    width: calc(100% + var(--padding-container))
}

@include media-breakpoint-up(sm) {
    .breakout-sm {
        margin-left: calc(var(--padding-container) * -1);
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container)*2)
    }
    
    .breakout-sm-start {
        margin-left: calc(var(--padding-container) * -1);
        width: calc(100% + var(--padding-container))
    }
    
    .breakout-sm-end {
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container))
    }
}

@include media-breakpoint-up(md) {
    .breakout-md {
        margin-left: calc(var(--padding-container) * -1);
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container)*2)
    }
    
    .breakout-md-start {
        margin-left: calc(var(--padding-container) * -1);
        width: calc(100% + var(--padding-container))
    }
    
    .breakout-md-end {
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container))
    }
}

@include media-breakpoint-up(lg) {
    .breakout-lg {
        margin-left: calc(var(--padding-container) * -1);
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container)*2)
    }
    
    .breakout-lg-start {
        margin-left: calc(var(--padding-container) * -1);
        width: calc(100% + var(--padding-container))
    }
    
    .breakout-lg-end {
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container))
    }
}

@include media-breakpoint-up(xl) {
    .breakout-xl {
        margin-left: calc(var(--padding-container) * -1);
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container)*2)
    }
    
    .breakout-xl-start {
        margin-left: calc(var(--padding-container) * -1);
        width: calc(100% + var(--padding-container))
    }
    
    .breakout-xl-end {
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container))
    }
}

@include media-breakpoint-up(xxl) {
    .breakout-xxl {
        margin-left: calc(var(--padding-container) * -1);
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container)*2)
    }
    
    .breakout-xxl-start {
        margin-left: calc(var(--padding-container) * -1);
        width: calc(100% + var(--padding-container))
    }
    
    .breakout-xxl-end {
        margin-right: calc(var(--padding-container) * -1); 
        width: calc(100% + var(--padding-container))
    }
}



