:root{
    --padding-filter:20px;
}

@include media-breakpoint-up(lg) {
    :root{
        --padding-filter: 25px;
    }
}


@include media-breakpoint-up(xxl) {
    :root{
        --padding-filter: 36px;
    }
}


.load-more-item{display: none;transition:none}
.load-more-button {display: none}


.openDropdown svg{
    transition: transform 0.3s ease;
}
.openDropdown.open svg{
    transform: rotate(180deg);
}

.box-filter {
    padding: 0;
    white-space: nowrap;
}
.box-filter > span{
    display: inline-block;
    padding: calc(var(--padding-filter) * 1) 0;
}


.filterApplyWidth {
    width: 100%;
    border-bottom: none;
}
@include media-breakpoint-up(lg) {
    .filterApplyWidth {
        width: var(--filter-width);
    }
}


// Dropdown opener
.dropdown {
    position: relative;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid var(--bs-green);
    user-select: none;
}
.dropdown:last-child {
    border-bottom: none;
}

.dropdown-menu {
    margin: 0;
    display: none;
    position: relative;
    top: calc(100% + 1px);
    right: 0;
    z-index: 2;
    //width: 100%;
    padding:35px 20px 30px 20px;
}

.dropdown-menu li a {
    font-weight: 400;
    text-decoration: none;
    color: currentColor;
    display: block;
    padding: calc(var(--padding-filter) * 0.2) var(--padding-filter)!important;
    transition: color .4s;
}

.dropdown-menu li a:hover {
    color: var(--bs-green);

}

.dropdown-menu li a span {
    position: relative;
    
}

.dropdown-menu li a span:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--bs-green);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
.dropdown-menu li a:hover span:after, .dropdown-menu li.current-menu-item a span:after{ 
    transform: scaleX(1);
    transform-origin: left;
}


.box-filter > span > span {
    transition:color .4s;
}

.box-filter.open > span > span {
    color: var(--bs-green);
}

.filter-heading {
    padding: var(--padding-filter) 0;
    display: inline-block;
}



@include media-breakpoint-up(md) {
    .dropdown {
        width: auto;
        border: none;
    }
    .dropdown-menu {
        position: absolute;
        //width: calc(100% + 1px);
        margin-left: -1px;
        //padding: calc(var(--padding-filter) * 0.8) 0;
    }

    .dropdown-menu li a {
        
    }

    .box-filter {
        padding: var(--padding-filter) 0;
        white-space: nowrap;
    }
    .box-filter span{
        padding: 0;
        display: inline;
    }

       
    .filter-heading {
        transform: translateY(100%);
    }

}




.dropdown-menu label {width: 100%; display: block; padding:6px 15px ;cursor: pointer; font-weight: 300;}
.dropdown-menu label span {position: relative;display: flex; font-size: 17px; line-height: 1.4;}
.dropdown-menu label input[type="checkbox"], .dropdown-menu label input[type="radio"] { display: none; }
.dropdown-menu label input[type="checkbox"]+span:before,
.dropdown-menu label input[type="radio"]+span:before {
    content: '';
    border: 1px solid rgba(255,255,255,0.4);
    width:17px;
    min-width:17px;
    height:17px;
    max-height:17px;
    display: inline-block;
    margin-right: 12px;
    transition: border 0.3s;
    border-radius: 0px;
    position: relative;
    top: 2px;
    border-radius: 3px;
}

.dropdown-menu label input[type="checkbox"]:hover+span:before,
.dropdown-menu label input[type="radio"]:hover+span:before {
    border: 1px solid rgba(255,255,255,1);
}

.dropdown-menu label input[type="checkbox"]+span:after,
.dropdown-menu label input[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    opacity: 0;
    transition: opacity 0.3s;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.828' height='15.747' viewBox='0 0 22.828 15.747'%3E %3Cpath id='Path_468' data-name='Path 468' d='M569.649%2C1879.556l7.109%2C7.352%2C12.891-13.333' transform='translate(-568.235 -1872.161)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3C/path%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 3px 7px;
    background-size: 9px;
    top: 0px;
}

.dropdown-menu label input[type="checkbox"]:checked+span:before,
.dropdown-menu label input[type="radio"]:checked+span:before {
    border-color: #fff
}

.dropdown-menu label input[type="checkbox"]:checked+span:after,
.dropdown-menu label input[type="radio"]:checked+span:after {
    content: '';
    opacity: 1
}