.accordion {
	$p: &;

	&__item {

	}

	&__title {
		@include text(1rem, 700, 1.5);
		position: relative;
		padding: 2rem 2rem 2rem 0;
		border-bottom: 1px solid $primary;

		@include hover-focus() {
			cursor: pointer;
		}
	}

	&__content {
		height: 0;
		visibility: hidden;
		overflow: hidden;

		&.is-active {
			visibility: visible;
			height: auto;
			padding: 1rem 1.5rem 1rem 0;
		}
	}
}

summary::-webkit-details-marker,
summary::marker {
	display: none;
	content: '';
}
