.banner {
	$p: &;
	padding: 3.5rem 0;

	@include wi-mq(desk) {
		padding: 6rem 0;
	}

	.homepage & {

		@include wi-mq(desk) {
			padding: 8rem 0;

			&.pt-0 {
				padding: 0 0 8rem;
			}
		}
	}

	&--is-first {

		.homepage & {

			@include wi-mq(lap) {
				padding-top: 12rem;
			}
		}
	}

	&--enquiry {
		background: linear-gradient(180deg, $secondary 25%, #fff 0%);
	}

	&--primary {
		background: $primary;
		color: #fff;
	}

	&--secondary {
		background: $secondary;
		color: $primary;
	}

	&--grey {
		background-color: $primary;
		color: #fff;

		@include wi-mq(up-to-lap) {
			background-image: none !important;
		}

		.slider-btn {
			border-color: #fff;

			svg path {
				fill: $secondary;
			}

			@include wi-mq(lap) {
				border-color: $secondary;

				svg path {
					fill: #fff;
				}
			}

			@include hover-focus() {
				background: #fff;
				border-color: #fff;

				svg path {
					fill: $secondary;
				}
			}
		}

		.button {
			@extend .button--alt;
		}
	}

	&--light-grey {
		background-color: #f7f7f7;

		@include wi-mq(up-to-lap) {
			background-image: none !important;
		}

		#{$p}__title {
			color: $base-color;
		}

		// add alternative title color override
		&.banner--alt-title {
			#{$p}__title {
				color: $secondary;
			}
		}

		.slider-btn {

			@include hover-focus() {

				svg {

					path {
						fill: #fff;
					}
				}
			}

			svg {

				path {
					fill: $primary;
				}
			}
		}
	}

	&--red {
		background-color: $secondary;
		color: #fff;

		@include wi-mq(up-to-lap) {
			background-image: none !important;
		}

		.slider-btn {
			border-color: #fff;

			svg path {
				fill: $base-color;

				@include wi-mq(lap) {
					fill: #fff;
				}
			}

			@include hover-focus() {
				background: #fff;
				border-color: #fff;

				svg path {
					fill: $secondary;
				}
			}
		}
	}

	&--white {
		background-color: #fff;

		@include wi-mq(up-to-lap) {
			background-image: none !important;
		}

		#{$p}__title,
		.h2 {
			color: $primary;
		}

		// add alternative title color override
		&.banner--alt-title {
			#{$p}__title,
			.h2 {
				color: $primary;
			}
		}

		.slider-btn {
			border-color: $primary;

			@include hover-focus() {

				svg {

					path {
						fill: #fff;
					}
				}
			}

			svg {

				path {
					fill: $primary;
				}
			}
		}
	}

	&__feature {
		mix-blend-mode: multiply;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		svg {
			height: 100%;
		}
	}

	&--timeline {
		padding: 4.5rem 0 5.5rem;

		@include wi-mq(desk) {
			padding: 10rem 0 12rem;
		}
	}

	&--footer {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			background-image: var(--background-image);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60%;
			z-index: -1;
		}
	}
}
