.icon {
	&-co2 {
		height: 60px;
		width: 62.5px;

		@include wi-mq(lap) {
			height: 90px;
			width: 92.5px;
		}
	}

	&-leaves,
	&-factory,
	&-waves,
	&-computer,
	&-person,
	&-tick,
	&-connections {
		height: 60px;
		width: 60px;

		@include wi-mq(lap) {
			height: 90px;
			width: 90px;
		}
	}

	&-pipeline {
		height: 90px;
		width: 120px;

		@include wi-mq(lap) {
			height: 90px;
			width: 170px;
		}
	}
}
