.icon-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	color: inherit;

	&__icon {
		margin: 0 0 2rem;

		svg {
			margin: 0 auto;
		}
	}

	&__title {
		@include text(1.3rem, 700);
		color: inherit;

		@include wi-mq(lap) {
			@include text(1.5rem, 700);
		}

		.banner--white & {
			color: $primary;
		}
	}
}
