.image-content {
	$p: &;

	&__left {
		position: relative;
		width: 100%;
		margin: 0 0 2rem;

		@include wi-mq(lap) {
			width: 40%;
			margin: 0;
		}
	}

	&__right {
		position: relative;
		width: 100%;

		@include wi-mq(lap) {
			width: 60%;
			padding: 0 0 0 5rem;
		}

		@include wi-mq(desk) {
			padding: 0 0 0 10rem;
		}

		@include wi-mq(widescreen) {
			padding: 0 0 0 16rem;
		}

		&--swapped {

			@include wi-mq(lap) {
				padding: 0 5rem 0 0;
			}

			@include wi-mq(desk) {
				padding: 0 10rem 0 0;
			}

			@include wi-mq(widescreen) {
				padding: 0 16rem 0 0;
			}
		}

		&--thin {

			@include wi-mq(lap) {
				padding: 0 0 0 5rem;
			}

			@include wi-mq(desk) {
				padding: 0 0 0 8rem;
			}

			@include wi-mq(widescreen) {
				padding: 0 0 0 10rem;
			}

			&.image-content__right--swapped {

				@include wi-mq(lap) {
					padding: 0 5rem 0 0;
				}

				@include wi-mq(desk) {
					padding: 0 8rem 0 0;
				}

				@include wi-mq(widescreen) {
					padding: 0 10rem 0 0;
				}
			}
		}
	}
}