.info-banner {

	.typo {

		h1 {

			&:first-of-type {
				margin-top: 0;
			}
		}

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		a {
			color: #fff;
		}
	}

	&__feature {
		width: 100px;
		height: 101px;

		@include wi-mq(lap) {
			position: absolute;
			width: 195px;
			height: 191px;
			right: -4rem;
			bottom: -3.5rem;
		}

		@include wi-mq(desk) {
			bottom: -7rem;
			width: auto;
			height: auto;
		}
	}
}