.svg-3 {
	position: absolute;
	width: 0;
	height: 0;
}
.clipped-3 {
	width: 125px;
	height: 115.5px;
	clip-path: url(#my-clip-path-3);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;

	@include wi-mq(lap) {
		width: 275px;
		height: 175px;
	}

	@include wi-mq(desk) {
		width: 550px;
		height: 350px;
	}
}
