.search-form {
	display: flex;
	align-items: center;
	margin: 1rem 0 0;
	width: 100%;

	@include wi-mq(lap) {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 3;
		background: $tertiary;
		padding: 1.5rem 0;
		margin: 0;
		display: none;
	}

	&.is-active {
		display: flex;
	}

	input {
		border: 2px solid $primary;
		background: transparent;
		color: $base-color;

		&:focus,
		&:active {
			border: 2px solid $primary;
			background: transparent;
		}

		&::placeholder {
			color: $base-color;
		}
	}

	button {
		width: 58px;
		height: 58px;
		min-width: 58px;
		min-height: 58px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: $primary;
		border: 0;
		border-radius: 0;
		padding: 0;

		svg {
			fill: #fff;
		}

		@include hover-focus() {
			background: $secondary;
		}
	}
}

.search {

	&__trigger {

		@include hover-focus() {

			svg {
				fill: $secondary;
			}
		}
	}
}