.sidebar-nav {
	background: $primary;
	padding: 2rem;
	color: #fff;
	font-weight: 700;

	@include wi-mq(desk) {
		padding: 3rem;
	}

	&__item {
		border-bottom: 2px solid $secondary;

		&:last-of-type {
			border: 0;
		}
	}

	&__link {
		display: block;
		padding: 1rem 0;

		@include hover-focus() {
			color: $secondary;
		}
	}
}