.slider {

	&-btn {
		border: 2px solid #fff;
		background: #fff;
		height: 3.5rem;
		width: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;

		@include wi-mq(lap) {
			background: transparent;
			height: 3.5rem;
			width: 3.5rem;
		}

		@include hover-focus() {
			background: $secondary;
			border-color: $secondary;
		}

		svg {

			path {
				fill: $primary;

				@include wi-mq(lap) {
					fill: #fff;
				}
			}
		}

		&--prev {

			svg {
				transform: rotate(180deg);
			}
		}

		&--next {

		}

		&--alt {
			border-color: #fff;
			background: #fff;
			box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

			@include wi-mq(lap) {
				background: transparent;
				border-color: $secondary;
				box-shadow: none;
			}

			svg {
				path {
					fill: $primary;
				}
			}

			@include hover-focus() {
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
}
