.tabs {
	&__trigger {
		@include text(1rem, 700);
		text-transform: uppercase;
		border-bottom: 5px solid #fff;
		padding: 0.5rem 0;

		@include wi-mq(lap) {
			@include text(1.1rem, 700);
		}

		&.is-active {
			border-bottom: 5px solid $secondary;
		}

		@include hover-focus() {
			border-bottom: 5px solid $secondary;
		}
	}
}
