.button {
	@include text(1rem, 700);
	display: inline-flex;
	align-items: center;
	text-align: left;
	padding: 1rem 0;
	line-height: 1;
	color: $base-color;
	text-transform: uppercase;

	svg {
		@apply group-hover/button:md:bg-secondary group-hover/button:md:fill-white group-focus/button:md:bg-secondary group-focus/button:md:fill-white;
		border-radius: 100%;
		margin: 0 0 0 .75rem;
		fill: $secondary;
		min-width: 24px;
	}

	@include hover-focus() {

		svg {
			background: $secondary;
			fill: #fff;
		}
	}

	&--alt {
		color: #fff;

		svg {
			@apply group-hover/button:md:bg-white group-hover/button:md:fill-secondary group-focus/button:md:bg-white group-focus/button:md:fill-secondary;
			fill: #fff;
		}

		@include hover-focus() {

			svg {
				background: #fff;
				fill: $secondary;
			}
		}
	}
}

.scroll-btn {
	position: fixed;
	background: $primary;
	padding: .5rem 1rem .5rem .75rem;
	border-radius: 2rem;
	bottom: 1rem;
	width: auto;
	left: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-weight: 700;
	display: flex;
	align-items: center;
	z-index: 10;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	margin-left: -88.5px;

	svg {
		margin-left: .75rem;
		margin-right: -.5rem;
		background: darken($primary, 10%);
		border-radius: 1rem;
	}
}