form,
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

input[type='email'],
input[type='file'],
input[type='password'],
input[type='text'],
input[type='date'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='number'],
input[type='search'],
select,
textarea {
	width: 100%;
	padding: 1rem 1.25rem;
	font-family: $base-font-family;
	color: #fff;
	background: $primary;
	border: 1px solid $primary;
	border-bottom: 1px solid $tertiary;
	appearance: none;
	border-radius: 0;
	box-sizing: border-box;
	letter-spacing: .5px;
	font-size: 1rem;

	&:active {
		background: darken($primary, 10%);
		border: 1px solid $tertiary;
	}

	&:focus {
		background: darken($primary, 10%);
		border: 1px solid $tertiary;
	}

	&::placeholder {
		color: #fff;
		opacity: 1;
	}
}

select {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' fill='%23FFFFFF'%3E%3Cpath d='M12 15.05 6.35 9.375l1.05-1.05 4.6 4.6 4.6-4.6 1.05 1.05Z'/%3E%3C/svg%3E")
		$primary no-repeat center right 1rem;
	border-bottom: 1px solid $tertiary;

	&:focus {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' fill='%23FFFFFF'%3E%3Cpath d='m7.4 15.05-1.05-1.075L12 8.325l5.65 5.65-1.05 1.075-4.6-4.6Z'/%3E%3C/svg%3E")
			darken($primary, 10%) no-repeat center right 1rem;
	}
}

input[type='submit'],
button[type='submit'],
.submit {
	@include text(1rem, 700);
	background: $secondary;
	padding: 1rem 3rem;
	text-align: center;
	color: #fff;
	background: transparent;
	appearance: none;
	width: 100%;
	border-radius: 2rem;
	text-transform: uppercase;
	border: 2px solid $secondary;

	@include hover-focus() {
		cursor: pointer;
		background: $tertiary;
		border-color: $tertiary;
		color: $primary;
	}
}

textarea {
	resize: vertical;
	min-height: 150px;
}

label {
	color: #fff;

	&.left {
		display: block;
		margin: 0 0 0.5rem;

		&.required {

			&::after {
				content: '*';
			}
		}
	}

	&.right {
		margin: 0 0 0 0.5rem;
		font-weight: 400;
	}
}

.field {
	margin: 0 0 2rem;

	&--last {
		margin: 0;
	}
}

.checkbox {
	position: relative;

	label {
		display: block;
		position: relative;
		padding: 0 0 0 2.5rem;
		z-index: 1;
		cursor: pointer;
		line-height: 25px;
	}

	.checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 25px;
		width: 25px;
		background: #fff;
		border: 1px solid $base-color;

		&::after {
			content: '';
			position: absolute;
			display: none;
			left: 8px;
			top: 4px;
			width: 7px;
			height: 13px;
			border: solid $base-color;
			border-width: 0 3px 3px 0;
			transform: rotate(45deg);
		}
	}

	@include hover-focus() {

		.checkmark {
			background: $tertiary;

			&::after {
				display: block;
				opacity: .5;
			}
		}
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		@include hover-focus() {

			~ .checkmark {
				background: $tertiary;

				&::after {
					display: block;
					opacity: .5;
				}
			}
		}

		&:checked ~ .checkmark {
			background: #fff;

			&::after {
				display: block;
			}
		}
	}
}

.freeform-file-drag-and-drop[data-theme="dark"] {
	background: $primary !important;
	padding: 1.5rem;
}

.freeform-file-drag-and-drop__placeholder {
	color: #fff;
	font-size: 1.1rem !important;
}

.freeform-file-drag-and-drop__preview-zone__file-preview__thumbnail__remove-button {
	color: #fff !important;

	@include hover-focus() {
		background: $error-red !important;
		border-color: $error-red !important;
	}
}

.freeform-file-drag-and-drop__preview-zone__file-preview__thumbnail {
	border-radius: .25rem;
}

.freeform-file-drag-and-drop__preview-zone__file-preview__thumbnail__extension-label {
	font-size: 1rem !important;
	font-weight: 700;
	color: $base-color !important;
	top: calc(50% - 9px) !important;
}

.freeform-file-drag-and-drop__preview-zone__file-preview__filename {
	color: #fff !important;
	font-weight: 700;
	margin: .3rem 0 .2rem !important;
}

.freeform-file-drag-and-drop__preview-zone__file-preview__filesize {
	color: #fff !important;
}

.freeform-file-drag-and-drop [data-field-errors] > li {
	color: #fff !important;
}

.freeform-file-drag-and-drop [data-field-errors] {
	padding: .25rem .75rem !important;
	margin: 1rem 0 0 !important;
}

.ff-form-errors p,
.ff-errors,
.errors {
	background: $error-red;
	font-weight: 700;
	padding: .25rem .75rem;
	margin: .5rem 0;
	border-radius: .25rem;
	font-size: 1rem;
}

.ff-form-errors {
	margin: 0 0 1.5rem;
}