.message {
	$p: &;
	display: block;
	border-radius: $border-radius;
	margin: 1rem 0;
	border: 1px solid $base-color;
	position: relative;
	padding: 0.75rem 1rem;

	&#{$p}--alt {
		padding: 0;

		#{$p}__title {
			margin: 0 0 0 0.75rem;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		border-bottom: 1px solid $base-color;
		border-top-right-radius: $border-radius;
		border-top-left-radius: $border-radius;
	}

	&.success,
	&.good,
	&.info {
		border-color: $success-green;
		background: lighten($success-green, 65%);

		&#{$p}--alt {
			background: 0;
		}

		#{$p}__header {
			border-color: $success-green;
			background: lighten($success-green, 65%);
			color: $success-green;

			svg {
				fill: $success-green;
			}
		}

		#{$p}__title {
			color: $success-green;
		}
	}

	&.warning {
		border-color: $warning-orange;
		background: lighten($warning-orange, 50%);

		&#{$p}--alt {
			background: 0;
		}

		#{$p}__header {
			border-color: $warning-orange;
			background: lighten($warning-orange, 50%);
			color: $warning-orange;

			svg {
				fill: $warning-orange;
			}
		}

		#{$p}__title {
			color: $warning-orange;
		}
	}

	&.required,
	&.validation,
	&.alert,
	&.bad,
	&.error {
		border-color: $error-red;
		background: lighten($error-red, 60%);

		&#{$p}--alt {
			background: 0;
		}

		#{$p}__header {
			border-color: $error-red;
			background: lighten($error-red, 60%);
			color: $error-red;

			svg {
				fill: $error-red;
			}
		}

		#{$p}__title {
			color: $error-red;
		}
	}

	&__title {
		@include text(1rem, 700);
	}

	&__content {
		padding: 0.75rem 1rem;
	}
}
