.pagination {
	text-align: center;
	margin: 2rem 0 0;

	@include wi-mq(lap) {
		margin: 3rem 0 0;
	}

	&__prev,
	&__next,
	&__active,
	&__page {
		font-weight: 700;
		padding: 0.7rem 1rem;
		display: inline-block;
		margin: 1rem 0.3rem;
		line-height: 1;
		font-family: $title-font-family;
		border: 1px solid $secondary;

		@include wi-mq(lap) {
			margin: 0 0.3rem;
		}
	}

	&__prev,
	&__next,
	&__active {
		color: #fff;
		background: $secondary;
		font-weight: 700;

		&:hover,
		&:focus {
			@include wi-mq(lap) {
				background: $primary;
				color: #fff;
			}
		}
	}

	&__active {
		background: $secondary;
		color: #fff;

		&:hover,
		&:focus {
			@include wi-mq(lap) {
				background: $secondary;
			}
		}
	}

	&__page {
		&:hover,
		&:focus {
			@include wi-mq(lap) {
				background: $primary;
				color: #fff;
			}
		}
	}
}
