.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	&__thumbnail {
		display: block;
		width: 100%;
		max-width: 100%;
		position: relative;
		z-index: 1;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80px;
	width: 80px;
	border: 4px solid #fdfdfd;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($base-color, 0.2);
	transition: background 0.3s ease-in-out;
	z-index: 2;

	&:hover,
	&:focus {
		cursor: pointer;

		@include mq(lap) {
			background: rgba($base-color, 0.3);

			&::after {
				transform: scale(0.8);
			}
		}
	}

	&::after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 0 15px 25px;
		border-color: transparent transparent transparent #fdfdfd;
		margin: 0 0 0 0.5rem;
		transition: all 0.2s ease-in-out;
	}
}
