.site-footer {
	position: relative;
	color: $base-color;
	padding: 2rem 0;

	&__item {
		margin: .75rem 0;
	}

	&__link {

		@include hover-focus() {
			text-decoration: underline;
		}
	}

	.logo {
		padding: 0;

		svg {
			width: 80px;

			@include wi-mq(lap) {
				width: 100px;
			}
		}
	}
}

.copyright {
	$p: &;
	@include text(0.8rem, 400);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&-nav {
		width: auto;
		margin: 0;

		&__item {
			margin: 0 0 0 .5rem;

			&::before {
				content: '|';
				margin: 0 .25rem 0 0;
			}
		}

		&__link {

			@include hover-focus() {
				text-decoration: underline;
			}
		}
	}

	&__link {

		@include hover-focus() {
			text-decoration: underline;
		}
	}
}
