.header {
	display: grid;
	grid-template-areas: 'logo nav-btn' 'nav nav' 'aside aside';
	align-items: center;
	padding: 1rem 0;
	position: relative;
	z-index: 5;

	@include wi-mq(lap) {
		grid-template-areas: 'logo aside' 'nav nav';
		grid-template-columns: auto 1fr;
		padding: 1.5rem 0 0;
	}

	@include wi-mq(widescreen) {
		grid-template-areas: 'logo nav aside';
		grid-template-columns: auto 1fr;
		padding: 0;
	}

	&-wrapper {
		position: relative;
		width: 100%;
		background: #fff;

		&.is-active {

			.aside {
				display: flex;
			}
		}
	}

	.logo {
		grid-area: logo;
		width: auto;

		@include hover-focus() {

			svg {

				path {
					fill: $primary;
				}
			}
		}

		svg {
			width: 80px;

			@include wi-mq(lap) {
				width: 100px;
			}
		}
	}

	.aside {
		grid-area: aside;
		display: none;

		@include wi-mq(lap) {
			display: flex;
			align-items: center;
			justify-content: right;
			margin: 0 0 0 1.5rem;
		}
	}
}
