/*
 * Fonts
 */

/*
** Import custom fonts by uploading your font's to this folder
@font-face {
	font-family: 'Your Font Name';
	src: url('../../../fonts/your-font-name.ttf');
	src: url('../../../fonts/your-font-name.woff');
	src: url('../../../fonts/your-font-name.woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
*/

$default-font: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
	'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$base-font-family: $default-font;
$title-font-family: $default-font;
$feature-font-family: $default-font;

/*
 * Colours
 */

$base-color: #131313;
$primary: #330c60;
$secondary: #3ad5fb;
$tertiary: #fff;

@layer base {
	:root {
		--color-base: 19 19 19;
		--color-primary: 51 12 96;
		--color-secondary: 58 213 251;
		--color-tertiary: 250 250 250;
	}
}

/*
 * UI Colours
 */

$error-red: #bf0000;
$success-green: #1e7e15;
$warning-orange: #ce5d0c;

/*
 * UI
 */

$border-radius: 0.125rem;
